{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "babel-plugin-root-import",
      {
        "alias": [
          {
            "rootPathSuffix": "./src/assets",
            "rootPathPrefix": "_assets"
          },
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "_components"
          },
          {
            "rootPathSuffix": "./src/layouts",
            "rootPathPrefix": "_layouts"
          },
          {
            "rootPathSuffix": "./src/interfaces",
            "rootPathPrefix": "_interfaces"
          },
          {
            "rootPathSuffix": "./src/helpers",
            "rootPathPrefix": "_helpers"
          }
        ]
      }
    ]
  ]
}
